.perfil-container {
    display: flex;
    background-color: #FFFFFF;
    padding: 2rem 0;
    height: 89rem;
}


.perfil-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    background-color: #D9D9D9;
    margin: 3rem 1rem 0 3rem;
    border-radius: 25px;
    height: 43rem;
}

.perfil-perfil-h2{
    color: #184F78;
}

.perfil-perfil-img{
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    cursor: pointer;
}

.perfil-container2 {
    display: flex;
    flex: 6;
    background-color: #D9D9D9;
    margin: 3rem 3rem 0 1rem;
    border-radius: 25px;
    justify-content: space-evenly;
    max-height: 100rem;
    overflow-y: auto;
}

.perfil-lista-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.perfil-lista-a {
    background-color: #FFFFFF;
    padding: 0.5rem 4rem;
    margin: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: #184F78;
}

.perfil-lista-li {
    font-family: 'poppins';
    font-weight: 600;

}

.perfil-card {
    max-height: 18.75rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin: 1rem 1rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}



.perfil-card-interno {
    text-align: center;
    border: 6px solid #184F78;
    border-radius: 20px;
    cursor: pointer;
}

.perfil-card-interno-img {
    width: 100px;
    height: auto;
    margin: 1rem 3rem;
}

.perfil-card-interno h3{
    margin: 0;
    color: #184F78;
}


.perfil-card-interno h2{
    margin: 0;
    color: #184F78;
}


.perfil-card-interno p{
    margin-top: 0.5rem;
    text-decoration: overline #184F78;
    color: #184F78;
}