.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    background-color: #184F78;
    margin: 0;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.button-h2 {
    color: #FFFFFF !important;
    font-size: 1.3rem;
}
