body {
  margin: 0;
  font-family: 'poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #184F78;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #a59b9b #FFFFFF;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #D9D9D9;
}
